<div style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(50, 0, 0, 0.2); z-index: -1">
</div>
<!-- <p class="mat-typography">
	Login
</p> -->

<!-- <div style="display:flex; justify-content: center;">
  <img src="assets/logon.jpg"/><br/>

</div> -->
<div class="flex-center">

<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
  <div id="login">
    <div class="space">
      <div class="centerize">
        <div *ngIf="!isLoading">
          <mat-icon aria-hidden="false">account_circle</mat-icon>
          <h2 [ngStyle]="hasError ? {color: 'red'}:''">{{hasError ? errorMessage : 'Login'}}</h2>
        </div>

        <div *ngIf="isLoading">
          <app-loading-spinner *ngIf="!hasError"></app-loading-spinner>
          <h2>Loading...</h2>
        </div>
      </div>

      <mat-form-field appearance="fill">
        <input matInput placeholder="username or email" name="username" ngModel required [disabled]="isLoading">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <input matInput type="password" placeholder="password" name="password" ngModel required [disabled]="isLoading">
      </mat-form-field>

      <div class="row">
        <div class="left">
          <mat-checkbox>REMEMBER ME</mat-checkbox>
        </div>
        <div class="right">
          <a href="#"><strong>Sign up here</strong></a>
        </div>

      </div>
      <div class="centerize">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!authForm.valid"
          [style]="!authForm.valid ? 'color: white; cursor: not-allowed': ''"
          >LOGIN</button>
      </div>
    </div>

  </div>
</form>

</div>
