#login{
  width: 758px;
  height: 455px;
  background-color: #fff;
  display:flex; justify-content: center;
}
#login .space{
  width: 67%;
}
#login .space .mat-icon{
  font-size: 110px;
  width: 110px;
  color: #2879FE;
}
#login .space h2{
  margin: 0 0 20px 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
}
.space .mat-form-field {
  display: inline;
}
.space .row{
  display: flex;
  justify-content: space-between;
}
.space .row .right{
  margin-left: auto;
}
.space .row .right a{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #5377E4;
  font-size: 14px;
}

#login .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #2879FE;
}
#login .mat-raised-button {
  min-width: 144px;
  font-weight: 100;
}
#login .centerize{
  width:100%;display:inline-block;text-align: center;
  margin-top: 20px;
}
#login .centerize > div{
  text-align: center;
}
