/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/theming'; */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

#login .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
#login .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0;
}
#login .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: .25em 0 .35em 0;
}
#login .mat-form-field-appearance-fill .mat-form-field-underline::before {
  height: 2px;
}
.flex-center{
  display:flex; justify-content: center;
}
