#loyalty{
  width: 863px;
  height: 455px;
  background-color: #ECECEC;
  /* display:flex; justify-content: center; */
  text-align: center;
}

h1{
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 26px;
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 15px;
}
h4{
  font-size: 22px;
  margin: 15px 0;
}
h6{
  margin: 15px 0 20px;
  font-size: 14px;
  color: #949494;
}
#card{
  display: inline-block;
  /* padding: 0 25px; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#card .mat-icon{
  font-size: 18px;
  height: 18px;
}
#card .head{
  background-color: black;
  color: white;
  padding: 10px 0;
  margin-top: 40px;
}
#card .body{
  padding: 10px 25px;
  background-color: white;
}
#dollar-line{
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 80px;
  text-align: center;
}
#dollar-line .line{
  position: relative;
  margin: auto;
  width: 80%;
  background-color: #777;
  height: 8px;
}
#dollar-line .line .dot{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #777;
  position: absolute;
  left: 33%;
  top: -5px;
}
#dollar-line .line .dot-label{
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  left: -10px;
  top: -50px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
z-index: 2;
  visibility: hidden;
}
#dollar-line .line .dot-label span{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#dollar-line .line .dot:hover{
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(221,88,48,1);
-moz-box-shadow: inset 0px 0px 0px 2px rgba(221,88,48,1);
box-shadow: inset 0px 0px 0px 2px rgba(221,88,48,1);
cursor: pointer;
}
#dollar-line .line .dot-label:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -0.8em;
  margin-left: -50%;
  left: 77%;
  transform: translate(0%, -50%);
  box-sizing: border-box;
  border: 0.4em solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.4);
  /* -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,1); */
  /* z-index: 1; */
}
#dollar-line .line .dot:hover .dot-label{
  visibility: visible;
}
