<div style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0, 90, 0, 0.2); z-index: -1">
</div>

<!-- <p class="mat-typography">
  Loyalty
</p> -->

<!-- <div style="display:flex; justify-content: center;">
  <img src="assets/rewards.png" />
</div> -->

<div class="flex-center">
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner *ngIf="!hasError"></app-loading-spinner>
    <h2 [ngStyle]="hasError ? {color: 'red'}:''">{{hasError ? 'An error has occured. Please try again.' : 'Loading...'}}</h2>
  </div>

  <div id="loyalty" *ngIf="!isLoading && !hasError">
    <h1>{{data.loyaltyPlanName}}</h1>

    <div id="card">
      <div class="head">
        <div class="flex-center">
          <mat-icon aria-hidden="false">star_border</mat-icon>
          <span>{{data?.awards[objectPointer].amount}} points</span>
        </div>
      </div>
      <div class="body">
        <h4>{{data?.awards[objectPointer].name}}</h4>
        <h6>Reward will be valid for {{data?.awards[objectPointer].daysExpires}} {{data?.awards[objectPointer].daysExpires === 1 ? 'day':'days'}}.</h6>
      </div>
    </div>

    <div id="dollar-line">
      <div class="line">
        <div
        class="dot"
        *ngFor="let v of data.awards; let i = index"
        [ngStyle]="{left: (i+1)*dotDistance+'%'}"
        (click)="changeLabel(i)"
        >
          <div class="dot-label" [ngStyle]="{visibility: i===objectPointer ? 'visible' : '' }">
            <span>{{v.amount}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
